model/__pycache__/*
__pycache__/*
log/*
log-pretrain/*
venv/*

.ipynb_checkpoints/*
*.ipynb
checkpoints/*
coord_checks/*
eeg_runs/*
eeg_test_scripts/*
fig/*
lightning_logs/*
log/*
log-pretrain/*
nhanes_runs/*
runs/*
test/*
train/*
unlabeled/*
unlabeled_long_term_movement/*
unlabeled_preprocessed/*
unlabeled_preprocessed_coord_check/*
unlabeled_val/*
*.png
*.ipynb
*.csv
*.sh
*.txt
*.zip